header div {
    text-align: center;
}

header img {
    float: left;
}

main section {
    text-align: center;
  
  

}

/* main section div {
    text-align: left;
} */

pre {
    font-family: serif;
}